.cart-item-count{
    display: flex;
    align-items: center;
}

.cart-item-count__decrease{
    height: 30px;
    width: 40px;
    background-color: #283097;
    color: white;
    border-radius: 8px;
}

.cart-item-count__decrease:hover{
    background-color: #18208d;
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}

.cart-item-count__increase{
    height: 30px;
    width: 40px;
    background-color: #283097;
    color: white;
    border-radius: 8px;
}

.cart-item-count__increase:hover{
    background-color: #18208d;
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}

.cart-item-count__quantity{
    height: 30px;
    width: 40px;
    border: 1px solid;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}