.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.cart h1{
    font-size: 42px;
    padding: 10px 10px;
    margin: 10px 10px;
}

.cart-noitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-noitem p{
    padding: 10px 10px;
    margin: 0px 10px;
    font-size: 20px;
}

.cart-noitem__link{
    text-decoration: none;
    color: white;
    margin: 10px 10px;
}

.cart-item__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 200px;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(245, 239, 239, 0.329);
}

.cart-item__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin-right:20px ;
}

.cart-item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cart-item__details{
    flex-grow: 1;
}

.cart-item__details h3{
    margin: 0;
    font-size: 18px;
}

.cart-item__details p {
    margin: 5px 0;
}

.cart-item__deletebtn{
    height: 50px;
    width: 70px;
    background-color: #d11313;
    color: white;
    border-radius: 8px;
}

.cart-item__deletebtn:hover{
    background-color: #b60c0c;
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}

.cart-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    max-width: 600px;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(245, 239, 239, 0.329);
}

.cart-summary h2{
    font-size: 32px;
    padding: 20px;
    margin: 10px 10px;
}

.cart-summary__clearbtn{
    background-color: #d11313;
    color: white;
    padding: 10px;
    margin: 10px 10px 30px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.cart-summary__clearbtn:hover{
    background-color: #b60c0c;
    transform: scale(1.1);
    transition: 300ms;
}

.cart-summary__checkoutbtn{
    background-color: #283097;
    color: white;
    padding: 25px 50px;
    margin: 10px 10px 30px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
}

.cart-summary__checkoutbtn:hover{
    background-color: #18208d;
    transform: scale(1.1);
    transition: 300ms;
}