.item-details{
    display: flex;
    justify-content: center;
    max-width: 900px;
    max-height: 700px;
    margin: 20px auto;
    
}

.item-details__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.item-details__info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fffbfb;
    border-left: 1px solid;
}

.item-details__info--title{
    margin-left: 10px;
}

.item-details__info--id{
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
}

.item-details__info--price{
    margin: 0 auto;
}

.item-details__info--dues{
    margin: 0 auto;
}

.item-details__info--stock{
    margin: 0 auto;
}